<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/dashlitee5ca.css">
    <title>Document</title>
</head>

<body>
    <div class="nk-sidebar-main">
        <div class="nk-sidebar-inner" data-simplebar>
            <div class="nk-menu-content menu-active" data-content="navPharmacy">
                <h5 class="title">Pharmacy</h5>
                <ul class="nk-menu">
                    <li class="nk-menu-item"><a href="index.html" class="nk-menu-link"><span class="nk-menu-icon"><em
                                    class="icon ni ni-dashboard-fill"></em></span><span
                                class="nk-menu-text">Dashboard</span></a></li>
                    <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"><span
                                class="nk-menu-icon"><em class="icon ni ni-users-fill"></em></span><span
                                class="nk-menu-text">Customer</span></a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item"><a href="add-customer.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Add Customer</span></a></li>
                            <li class="nk-menu-item"><a href="customer.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Customer List</span></a></li>
                        </ul>
                    </li>
                    <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"><span
                                class="nk-menu-icon"><em class="icon ni ni-capsule-fill"></em></span><span
                                class="nk-menu-text">Medicine</span></a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item"><a href="add-medicine.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Add Medicine</span></a></li>
                            <li class="nk-menu-item"><a href="medicine-list.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Medicine List</span></a></li>
                            <li class="nk-menu-item"><a href="medicine-details.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Medicine Details</span></a></li>
                        </ul>
                    </li>

                    <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"><span
                                class="nk-menu-icon"><em class="icon ni ni-repeat"></em></span><span
                                class="nk-menu-text">Return</span></a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item"><a href="add-wastage-return.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Add Wastage
                                        Return</span></a></li>
                            <li class="nk-menu-item"><a href="wastage-return.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Wastage Return List</span></a></li>
                            <li class="nk-menu-item"><a href="add-manufacturer-return.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Add Manufacture
                                        Return</span></a></li>
                            <li class="nk-menu-item"><a href="manufacturer-return.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Manufacturer Return
                                        List</span></a></li>
                        </ul>
                    </li>
                    <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"><span
                                class="nk-menu-icon"><em class="icon ni ni-users-fill"></em></span><span
                                class="nk-menu-text">Blogs</span></a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item"><a href="add-customer.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Add
                                        Blog</span></a></li>
                            <li class="nk-menu-item"><a href="customer.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Blog
                                        List</span></a></li>
                        </ul>
                    </li>
                    <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"><span
                                class="nk-menu-icon"><em class="icon ni ni-home-fill"></em></span><span
                                class="nk-menu-text">Manufacturer</span></a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item"><a href="manufacturer.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Manufacturer List</span></a></li>
                            <li class="nk-menu-item"><a href="manufacturer-ledger.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Manufacturer
                                        Ledger</span></a></li>
                        </ul>
                    </li>
                    <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"><span
                                class="nk-menu-icon"><em class="icon ni ni-home-fill"></em></span><span
                                class="nk-menu-text">Orders</span></a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item"><a href="manufacturer.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Order List</span></a></li>
                            <li class="nk-menu-item"><a href="manufacturer-ledger.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Order
                                        Ledger</span></a></li>
                        </ul>
                    </li>
                    <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"><span
                                class="nk-menu-icon"><em class="icon ni ni-activity-round-fill"></em></span><span
                                class="nk-menu-text">Report</span></a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item"><a href="sales-report.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Sales Report</span></a></li>
                            <li class="nk-menu-item"><a href="purchase-report.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Purchase Report</span></a></li>
                            <li class="nk-menu-item"><a href="stock-report.html" class="nk-menu-link"><span
                                        class="nk-menu-text">Stock Report</span></a></li>
                        </ul>
                    </li>
                    <li class="nk-menu-item"><a href="general-settings.html" class="nk-menu-link"><span
                                class="nk-menu-icon"><em class="icon ni ni-setting-fill"></em></span><span
                                class="nk-menu-text">Setting</span></a></li>
                </ul>
            </div>
        </div>
</body>

</html>